	h1, h2, a {font-family: 'Raleway', sans-serif;}
		p{font-family: 'Josefin Sans', sans-serif;}

		#about { 
			background: url(/images/about.png) 50% 0 fixed; 
			height: auto;  
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		    box-shadow: 0 0 50px rgba(0,0,0,0.8);
		    padding: 100px 0;
		}
		#links { 
			background: url(/images/galaxy.jpg) 50% 0 fixed; 
			height: auto;  
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		    box-shadow: 0 0 50px rgba(0,0,0,0.8);
		    padding: 200px 0;
		}
		#contact { 
			background: url(/images/about.png) 50% 0 fixed; 
			height: auto;
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		    box-shadow: 0 0 50px rgba(0,0,0,0.8);
		    padding: 100px 0;
		    color: #fff;
		}

		.hero-unit {
			background-color: #000;
		    box-shadow: 0 0 20px rgba(0,0,0,0.1);
		    color: #fff;
		}
		.media-object { width: 64px; height: 64px; padding-bottom: 30px }
